{% extends "layout.html" %}

{% block heading %}
{% endblock%}

{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
<script>
let offset = 0;
let amountChats = 0;
let cur_id=0;
let my_id=0;

    $(document).ready(function () {
        $('.chatuser').click(function (e) {
                $(".container").remove();
                cur_id = e.target.id;
                $.ajax({
                    'url' : '/chat/'+e.target.id,
                    'type' : 'GET',
                    'data' : {},
                    'success': function (data) {
                        data[0].forEach(function (item){
                            my_id = data[1]
                            if(item[0] == data[1].toString()){
                                $(".msgholder").append(" <div id='" + item[0] + "' class='container darker'> <p>" + item[1] + "</p> </div>");
                            }
                            else $(".msgholder").append(" <div id='" + item[0] + "' class='container'> <p>" + item[1] + "</p> </div>");
                        });
                          offset = $( ".container" ).length;
                          for(let i = offset-1; i>offset-6 && i >= 0;i--){
                              $( ".container" ).get(i).style.display = "block";
                          }
                    }
                });
        });
    });

    $(document).ready(function () {
        $( "input[name*='comment']" ).click(function () {
                $(".b-popup").show();
        });
    });

    $(document).ready(function () {
        $("#sendComment").click(function () {
                var t = cur_id.toString();
                $.post("/chat/" + cur_id + "/" + $("#sel option:selected").val() + "/" + $("#txtComment").val());
                $("#txtComment").val("");
                $(".container").remove();
                $( ".chatuser[id='"+t+"']").remove();
                $(".b-popup").hide();
        });
    });

    $(document).ready(function(){
             $('#moveMsgUp').click(function () {
                 let divs =  $(".container");
                 if (offset-6>=0) {
                     divs.get(offset-6).style.display = "block";
                     divs.get(offset-1).style.display = "none";
                     offset -=1;
                 }
            });
          });

    $(document).ready(function(){
             $('#moveMsgDown').click(function () {
                 let divs =  $(".container");
                 if (offset+1<=divs.length) {
                     divs.get(offset).style.display = "block";
                     divs.get(offset-5).style.display = "none";
                     offset +=1;
                 }
            });
          });

    $(document).ready(function(){
             $('#goBack').click(function () {
                 window.location.href='/mainPage';
            });
          });

    $(document).ready(function(){
             $('#moveUsersDown').click(function () {
                 let divs =  $(".chatuser");
                 if (amountChats+1<=divs.length) {
                     divs.get(amountChats-8).style.display = "none";
                     divs.get(amountChats).style.display = "block";
                     amountChats +=1;
                     console.log(amountChats);
                 }
            });
          });

    $(document).ready(function(){
             $('#moveUsersUp').click(function () {
                 let divs =  $(".chatuser");
                 if (amountChats-8>0) {
                     divs.get(amountChats-1).style.display = "none";
                     divs.get(amountChats-9).style.display = "block";
                     amountChats -=1;
                     console.log(amountChats);
                 }
            });
          });

    $(document).ready(function () {
        $('#sendMsg').click(function () {
            $.post( "/chat/"+ cur_id + "/" + $("#inputMsg").val() );
            $(".msgholder").append(" <div id='" + my_id + "' class='container darker'> <p>" + $("#inputMsg").val() + "</p> </div>");
            let divs =  $(".container");
            console.log(divs);
            if(offset>4) {
                divs.get(offset).style.display = "block";
                divs.get(offset - 5).style.display = "none";
            }
            else divs.get(offset).style.display = "block";
            offset +=1;
            $("#inputMsg").val('');
        });
    });


    $(document).ready(function(){
        $(".b-popup").hide();
      offset = $( ".container" ).length;
      amountChats = $(".chatuser").length;
      for(let i=amountChats-1; i>amountChats-9 && i >= 0; i--){
              $(".chatuser").get(i).style.display = "inline-block";
          }
    });

</script>

<style type="text/css">
    /* Chat containers */
.container {
    bottom:10px;
    position: relative;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 350px;
    display: none;
}

/* Darker chat container */
.darker {
  margin-left: 50%;
  border-color: #ccc;
  background-color: #ddd;
}

.darker p{
  float: right;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

.chatcontainer{
  /*max-height: 415px;*/
  height: 415px;
  border-radius: 5px;
}
.chatuser{
  display:none;
  border: 1px solid black;
  height: 50px;
  width: 100%;
    border-collapse:collapse;
    margin-left: -1px;

}
.b-popup{
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    left: 200px;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:300px;
    height: 200px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
  </style>

	<form>
    <div class="b-popup">
        <div class="b-popup-content">
            Оставить комментарий<p></p>
             <select id="sel">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select><p></p>
            <input id="txtComment" type="text">
            <input id="sendComment" type="button" value="Отправить">
        </div>
    </div>

<table border="1" rules="all" cellspacing="0" width="50%" height="100%">
	<tr>
    	<td colspan="3" width="100%" height="45px"><input id="goBack" type="button" value="Назад" width="300" height="25" ></td>
  	</tr>

	<tr>
		<td width="80">
            <input id="moveUsersUp" type="button" name="comment" value="Вверх"  height="25" >
			<div class="chatcontainer">
                {% for name,id in talks %}
                    <div id="{{ id }}" class="chatuser">
                        {{ name }}
                        <input id="{{ id }}" name="comment" type="button" width="15" height="15" style="float: right">
                    </div>
                {% endfor %}
			</div>
             <input id="moveUsersDown" type="button" name="up" value="Вниз" width="300" height="25" >
		</td>

		<td height="350">
			<input id="moveMsgUp" type="button" name="up" value="Вверх" width="300" height="25" style="position: absolute; top: 71px;">
            <div class="msgholder" style="height:100%; width:100%; position:relative;">
            </div>
			<input id="moveMsgDown" type="button" name="down" value="Вниз" width="300" height="25" style="position: absolute; top: 508px;">
		</td>
	</tr>
	<tr>
		<td colspan="2"><p><input id="inputMsg" type="text" size="60" name=""><p><input id="sendMsg" type="button" value="Отправить"></td>
	</tr>

</table>
	</form>


{% endblock %}

