{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
<style type="text/css">
   #profilebutton {
    float: right;
    position:static;
    }

   #logoutbutton {
    float: right;
    position:static;
    }

   #chbutt {
    float: left;
    position:static;
    }

   TABLE {
    width: 100%; /* Ширина таблицы */
    height: 100%;
   }
   TD {
    vertical-align: top; /* Выравнивание по верхнему краю ячейки */
   }
   #col1 {
    width: 200px; /* Ширина первой колонки */
    background: red; /* Цвет фона первой колонки */
   }
   #col2 {
   }
   #col3 {
    width: 200px; /* Ширина третьей колонки */
    background: green; /* Цвет фона третьей колонки */
   }
   #col01 {
    width: 200px; /* Ширина первой колонки */
    background: white; /* Цвет фона первой колонки */
   }

   a.button {display:block; height:100%; width:100%;}
</style>


<table cellpadding="5" cellspacing="0">
  <tr>
   <td id="col01"></td>
   <td id="col2">



           <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.location.label }}
            {{ form.location(value=current_user.location, size=28, placeholder='Введите местоположение') }}
            {{ form.submit() }}
               {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </form>


       <p>
           <a href="/chat"><button id="chbutt">Чаты</button></a>
           <a href="/reg"><button>Оценившие</button></a>
           <a href="{{ url_for('logout') }}"><button id="logoutbutton">Выйти</button></a>
           <a href="/profile"><button id="profilebutton">Мой профиль</button></a>
       </p>

        <!-- Внутренняя таблица -->
        <table cellpadding="5" cellspacing="0">
        <tr>

            <td id="col1">
                {% if user != None %}
                    <a href="/view/{{ user.id }}/0" class="button"></a>
                {% endif %}
            </td>

            <td id="col2">

                {% if user != None %}
                <!-- Колонка для профиля пользователя -->
                <table border="1" cellpadding="5" cellspacing="0">
                <tr>
  	                <td>
     	                <table border="0" cellpadding="5" cellspacing="0">
                            <tr>
                                <td align="center">ФОТО</td>
                                <td>
                                    <table border="1" cellpadding="5" cellspacing="0">
                                        <tr><td align="center">
                                            {{ user.name }}
                                        </td></tr>
                                        <tr><td align="center">
                                            {% if user.sex %}
                                            Мужчина
                                            {% endif %}
                                            {% if user.sex == False %}
                                            Женщина
                                            {% endif %}
                                        </td></tr>
                                        <tr><td align="center">
                                            {{ user.age }}
                                        </td></tr>
                                    </table>
                                </td>
                            </tr>
      	                </table>
                    </td>
                </tr>
                <tr>
  	                <td height="200">
                        {{ user.info }}
                    </td>
                </tr>
                </table>
                {% endif %}
                {% if user == None %}
                    <h1 align="center">Вам больше никто не подходит(</h1>
                {% endif %}




            </td>
            <td id="col3">
                {% if user != None %}
                    <a href="/view/{{ user.id }}/1" class="button"></a>
                {% endif %}
            </td>
        </tr>
        </table>


   </td>
   <td id="col01"></td>
  </tr>
  </table>

{% endblock %}