{% extends "layout.html" %}

{% block heading %}

Регистрация

{% endblock %}

{% block body %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.login(size=28, placeholder='Логин') }}
        {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.password(size=28, placeholder='Пароль') }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.password2(size=28, placeholder='Повторите пароль') }}
        {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.name(size=28, placeholder='Имя') }}
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
        {{ form.age(size=28, placeholder='Возраст') }}
        {% for error in form.age.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>{% for subfield in form.sex %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}</p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}